.auth {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: #010101;
    color: #fff;
     overflow: hidden;
  
    .auth-bg {
      position: absolute;
      height: 753px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 3.5s;
      animation-delay: 0.2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both;
      animation-direction: forwards;
  
      .effect {
        width: 100%;
        height: 100%;
        filter: blur(10px) saturate(1.3);
      }
    }
  
    .scroll-container {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: grid;
      min-height: 100vh;
      width: 100vw;
place-items: 
center;      overflow: auto;
  
      .left {
        position: relative;
        display: grid;
        grid-template-rows: minmax(60px, 1fr) 156px 378px 20px minmax(60px, 1fr);
        color: #fff;
  
        gap: 24px;
      }
    }
  
    .right {
      z-index: 1;
      position: relative;
      display: grid;
      grid-template-rows: minmax(60px, 1fr) auto 40px minmax(60px, 1fr);
  
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5;
        z-index: -2;
        background-image: linear-gradient(
          rgba(255, 255, 255, 0.05),
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 0.05)
        );
      }
    }
  }
  
  @keyframes fadeIn {
    0% {
        scale: 1;
      opacity: 0;
    }

    50% {
        scale: 1.2;
    }
  
    100% {
        scale: 1;
      opacity: 0.85;
    }
  }
   

  .radius {
    position: relative;
    &:before {
        content: ""; // Required for pseudo-elements
        position: fixed; // Cover the entire screen
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#0000 52% -30%, #000c 100%);
        pointer-events: none; // Ensure it doesn’t block interactions with other elements
        z-index: 9999; // Ensure it’s on top of other elements
      }
  }