:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@keyframes moveForward {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - 1.5rem);
  }

  100% {
    left: 0;
  }
}
@keyframes moveBackward {
  0% {
    left: calc(100% - 1.5rem);
  }
  100% {
    left: 0;
  }
}

// https://codepen.io/davideast/pen/MWxvzjm

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.anim-sheen {
  animation: sheen var(--ease-elastic-in-1) 1s infinite;
}
/*______________________________________________*/
$timing: 0.3s;
$bezier: cubic-bezier(0.215, 0.61, 0.335, 1);

.shimmer-btn {
  transition:
    $timing $bezier border,
    $timing $bezier box-shadow,
    scale $timing $bezier;

  &:hover {
    border-color: rgba(255, 108, 0, 0.2);
    scale: 1.03;
    box-shadow: rgba(255, 108, 0, 0.4) 0px 0px 40px 0.2em; // Adjusted to include a spread radius and 20% opacity
  }
}
/*_____________SimpleSpinner.tsx________________________________*/

.simple-spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.simple-spinner span {
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: rgba(255, 255, 255, 0.7);
  animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*______________________________________________*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s 750ms ease-in-out forwards;
}
/*______________________________________________*/

/*______________________________________________*/
