/**
 * This SCSS file defines the base layer styles for theme colors.
 * Here are custom theme colors for the application
 */

$theme-primary: #ff6a00a2;

@layer base {
  :root {
    --theme-primary: #ff6a00a2;
    --theme-primary--darker: #ff5b00;
    --navigation-height: 3.5rem;
    --color-one: rgba(255, 106, 0, 0.8);
    --color-two: #fe8bbb;
    --color-three: #9e7aff;
  }

  .dark {
    /* Add styles for dark theme here */
  }
}
